ame: publish
on: [push]
jobs:
publish-keycloak-image:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v2
- name: Login to GitHub Container Registry
uses: docker/login-action@v1
with:
registry: ghcr.io
username: dharmbhav
password: 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
- name: Build the keycloak-docker Docker image
run: |
       docker build . --tag ghcr.io/dharmbhav/keycloak-docker-gcr-demo:latest
       docker run ghcr.io/dharmbhav/keycloak-docker-gcr-demo:latest
       docker push ghcr.io/dharmbhav/keycloak-docker-gcr-demo:latest